<%= form_with(model: oscare_male_winner, local: true) do |form| %>
  <% if oscare_male_winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oscare_male_winner.errors.count, "error") %> prohibited this oscare_male_winner from being saved:</h2>

      <ul>
      <% oscare_male_winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :winnerId %>
    <%= form.number_field :winnerId, id: :oscare_male_winner_winnerId %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :oscare_male_winner_year %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :oscare_male_winner_age %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :oscare_male_winner_name %>
  </div>

  <div class="field">
    <%= form.label :movie %>
    <%= form.text_field :movie, id: :oscare_male_winner_movie %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
